@font-face {
    font-family: 'MyFont';
    src: url(assets/Roboto/Roboto-Regular.ttf);
    font-weight: normal; /* or bold, etc. */
    font-style: normal;  /* or italic, oblique, etc. */
  }

:root{
    --accent-color: #3B3950;
    --primary-color: #222034;
    
    
    
    --secondary-color: #95D5B2;
 
}

body{
    background-color: var(--accent-color);
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-family: 'MyFont';
}

button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 5px;
}

button:hover{
    border-color: var(--secondary-color)
}



/*Right side*/
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-right: auto;
    padding: 20px;
}

.title-section{
    display: flex;

}

#title{
    height: 30px;
    margin: 15px;
    width: 500px;
    margin-left: 35px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 20px;
}

#title-confirm-btn{
    height: 50px;  
}

#error-message{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

/*Gallery*/

#gallery{
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 50px;
    padding: 20px;
    background-color: var(--primary-color);

    border: 5px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    margin-top: 20px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-btn-container{
    display: flex;
    gap: 10px;
}

.edit-btn{
    height: 20px;
  
}

.saved-image{
    width: 300px;
    height: 300px;
    margin: 10px;
}

.title-on-image{
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 5px;
    text-shadow: -2px 0 #333, 0 2px #333, 2px 0 #333, 0 -2px #333;

}


/*Title*/
.title{
    text-align: center;
    font-size: 50px;
    
}

/*Inside the canvas*/
.container{
    display: flex;
    flex-direction: column;

    width: 704px;
    height: 704px;
    border: 2px solid var(--primary-color);
    background-color: #fae6f0;
    
    margin-left: 200px;
    margin-right: auto;     
    
}

#boxRow{
    display: flex;
    
}

.box{
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    
}

/*Side Bar*/


.sideBar{
    
    
    height: 100vh;
    width: 350px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.6);
    overflow-y: auto;

    scrollbar-width: none;
  

}

#thirtytwoBtn{
    background-color: #585858;
}

#draw, #thin{
    background-color: #585858;
}

.sideBar > div{
    margin: 10px;
}

#hex-colour-picker{
    height: 50px;
}

#current-colour-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

#current-colour-container > label > img{
    height: 50px;
    width: 50px;
}


#current-colour{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: black;
}

button > img{
    height: 40px;
    width: 40px;
   
}

.colour:hover{
    box-sizing: border-box;
    border: 3px solid black;
}

.sizeBtn{
    font-weight: bold;
    font-size: 20px;
}



#size{
    
    margin-left: 540px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}


.colour-palette{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid black;
    width: 200px;
    gap: 0;
    margin: 10px;
}

.colour{
    height: 50px;
    width: 50px;
    background-color: red;
    
}

.hex-colour-section{
    margin: 10px;
}

hr{
    width: 250px;
    margin: 25px;
}

#toolbar{
    width: 270px;
}

#misc-bar{
    width: 270px;
}


