body{
    background-color: #A9A9A9;
    display: flex;
    margin: 0;
    padding: 0;
}

/*Right side*/
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-right: auto;
}

.title-section{
    display: flex;

}

#title{
    height: 30px;
    margin: 15px;
}

#title-confirm-btn{
    height: 30px;  
    margin: 15px;
}

#error-message{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

/*Gallery*/

#gallery{
    display: grid;
    width: 1000px;
    border: 1px solid black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 60px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-btn-container{
    display: flex;
    gap: 10px;
}

.edit-btn{
    height: 20px;
  
}

.saved-image{
    width: 300px;
    height: 300px;
    margin: 10px;
}


/*Title*/
.title{
    text-align: center;
    font-size: 50px;
    
}

/*Inside the canvas*/
.container{
    display: flex;
    flex-direction: column;

    width: 704px;
    height: 704px;
    border: 2px solid black;
    background-color: white;
    
    margin-left: 200px;
    margin-right: auto;     
    
}

#boxRow{
    display: flex;
    
}

.box{
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    
}

/*Side Bar*/


.sideBar{
    border: 1px solid black;
    height: 100vh;
    width: 350px;
    background-color: #A9A9A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}
    

#size{
    
    margin-left: 540px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}


.colour-palette{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid black;
    width: 200px;
    gap: 0;
    margin: 10px;
}

.colour{
    height: 50px;
    width: 50px;
    background-color: red;
    
}

.hex-colour-section{
    margin: 10px;
}

hr{
    width: 250px;
    margin: 40px;
}



