body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;

    width: 640px;
    height: 640px;
    border: 5px solid blue;
    background-color: white;
    /*
    margin-left: auto;
    margin-right: auto;     
    */
}

#size{
    
    margin-left: 540px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    
       
}

#boxRow{
    display: flex;
    
}

.box{

    height: 40px;
    width: 40px;
    
}